In [23]:
import pandas as pd
import numpy as np

In [20]:
df_1w = pd.read_csv('../database/binance/1w/BTC-USDT-USDT.csv', sep=',')

In [24]:
df_1w['Avg_day'] = ((df_1w['close'] + df_1w['open'] + df_1w['high'] + df_1w['low']) / 4).round(2)
df_1w['Avg_corps'] = ((df_1w['close'] + df_1w['open']) / 2).round(2)
df_1w['Avg_meches'] = ((df_1w['high'] + df_1w['low']) / 2).round(2)
df_1w['Pourc_Price_Evol_14d'] = (100 * df_1w['Avg_day'].shift(-14) / df_1w['Avg_day']).round(2) - 100
df_1w['Label'] = np.where(df_1w['Pourc_Price_Evol_14d'] > 5, 1,np.where(df_1w['Pourc_Price_Evol_14d'] < -5, -1, 0))

In [25]:
df_1w.head(20)

,date,open,high,low,close,volume,Avg_day,Avg_corps,Avg_meches,Pourc_Price_Evol_14d,Label
0,1567382400000,10000.00,10412.65,10000.00,10391.63,3096.291,10201.07,10195.81,10206.33,-28.18,-1
1,1567987200000,10316.62,10475.54,9884.31,10302.22,110846.484,10244.67,10309.42,10179.92,-30.30,-1
2,1568592000000,10302.00,10353.81,9530.02,10023.04,160591.544,10052.22,10162.52,9941.92,-26.24,-1
3,1569196800000,8061.98,10046.91,7700.67,8041.96,279795.272,8462.88,8051.97,8873.79,-14.05,-1
4,1569801600000,8042.08,8499.00,7709.01,7852.79,257976.889,8025.72,7947.44,8104.00,-2.33,0
5,1570406400000,7851.01,8788.00,7764.42,8274.66,367955.166,8169.52,8062.84,8276.21,4.51,0
6,1571011200000,8274.33,8408.62,7812.00,8218.23,508975.286,8178.30,8246.28,8110.31,5.11,1
7,1571616000000,8218.23,10408.48,7172.76,9533.32,881463.175,8833.20,8875.78,8790.62,2.21,0
8,1572220800000,9534.37,9930.13,8933.00,9197.88,697075.617,9398.84,9366.12,9431.56,3.20,0
9,1572825600000,9197.86,9550.00,8669.85,9041.31,665125.812,9114.75,9119.58,9109.92,10.41,1
10,1573430400000,9041.31,9072.91,8355.78,8504.04,632991.917,8743.51,8772.67,8714.35,12.78,1
11,1574035200000,8504.13,8504.71,6762.73,6900.86,1196506.081,7668.11,7702.49,7633.72,20.27,1
12,1574640000000,6899.77,7850.00,6510.19,7387.38,1524870.441,7161.84,7143.58,7180.09,17.91,1
13,1575244800000,7388.00,7800.00,7070.00,7508.20,983668.839,7441.55,7448.10,7435.00,-15.34,-1
14,1575849600000,7507.87,7676.48,7004.77,7115.00,766967.380,7326.03,7311.44,7340.62,-23.25,-1
15,1576454400000,7115.45,7517.61,6427.00,7502.92,1031936.164,7140.74,7309.18,6972.30,-14.86,-1
16,1577059200000,7502.92,7691.00,7078.89,7383.67,901439.862,7414.12,7443.30,7384.94,-13.05,-1
17,1577664000000,7383.68,7495.00,6863.44,7354.36,774521.268,7274.12,7369.02,7179.22,-4.22,0
18,1578268800000,7354.36,8468.42,7345.00,8186.70,1484603.363,7838.62,7770.53,7906.71,-11.42,-1
19,1578873600000,8186.22,9205.30,8053.78,8705.85,1316693.038,8537.79,8446.04,8629.54,-14.06,-1